openapi: 3.0.0
info:
  version: 0.0.1
  title: JOKA
  description: JOKA API
  contact:
    name: Team mindjuk
    url: 'https://github.com/mindjuk'
    email: ingnoh1001@gmail.com
  license:
    url: 'https://mindjuk.dev/'
    name: mindjuk
servers:
  - url: 'http://mindjuk.dev/api/v1'
paths:
  /user-events:
    post:
      tags:
        - joka
      summary: User Event 수집
      description: 사용자 행동 이벤트를 수집합니다.
      operationId: createUserEvents
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
      requestBody:
        $ref: '#/components/requestBodies/CreateUserEvents'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  /media:
    post:
      tags:
        - joka
      summary: Media 생성
      description: Media를 생성합니다.
      operationId: createMedia
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
      requestBody:
        $ref: '#/components/requestBodies/CreateMedia'
      responses:
        '201':
          $ref: '#/components/responses/CreateMedia'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
    get:
      tags:
        - joka
      summary: Media 목록 조회
      description: Media의 목록을 조회합니다.
      operationId: listMedia
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: size
          in: query
          description: 목록에 포함될 요소 개수
          schema:
            type: string
            minLength: 1
            default: '20'
        - name: sortBy
          in: query
          description: 정렬 기준
          schema:
            type: string
            enum:
              - CREATED_AT
            minLength: 1
        - name: order
          in: query
          description: 정렬 순서
          schema:
            type: string
            enum:
              - ASC
              - DESC
            minLength: 1
        - name: cursor
          in: query
          description: 커서
          schema:
            type: string
            minLength: 1
        - name: states
          in: query
          description: Media 상태 정보
          example: DRAFT,PREPARING,COMPLETE
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          $ref: '#/components/responses/ListMedia'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  '/media/{cid}':
    get:
      tags:
        - joka
      summary: Media 상세 조회
      description: Media를 상세 조회합니다.
      operationId: getMedia
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: mediaId
          in: path
          description: Media 식별자
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/GetMedia'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
    patch:
      tags:
        - joka
      summary: Media 수정
      description: Media를 수정합니다.
      operationId: updateMedia
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: mediaId
          in: path
          description: Media 식별자
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateMedia'
      responses:
        '200':
          $ref: '#/components/responses/UpdateMedia'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
    delete:
      tags:
        - joka
      summary: Media 삭제
      description: Media를 삭제합니다.
      operationId: deleteMedia
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: mediaId
          in: path
          description: Media 식별자
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  '/media/{cid}/upload-urls':
    post:
      tags:
        - joka
      summary: Media 업로드 URL 생성
      description: Media 전용 업로드 URL을 생성합니다.
      operationId: createUploadUrlForMedia
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: mediaId
          in: path
          description: Media 식별자
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateUploadUrlForMedia'
      responses:
        '201':
          $ref: '#/components/responses/CreateUploadUrlForMedia'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  '/media/{cid}/confirm':
    post:
      tags:
        - joka
      summary: Media 확정
      description: Media의 상태를 확정합니다.
      operationId: confirmMedia
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: mediaId
          in: path
          description: Media 식별자
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/ConfirmMedia'
      responses:
        '200':
          $ref: '#/components/responses/ConfirmMedia'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  '/media/{cid}/contents':
    post:
      tags:
        - joka
      summary: Content 생성
      description: Media에 Content를 생성합니다.
      operationId: createContent
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: mediaId
          in: path
          description: Media 식별자
          required: true
          schema:
            type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateContent'
      responses:
        '201':
          $ref: '#/components/responses/CreateContent'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
        '409':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  '/media/{cid}/favorite':
    put:
      tags:
        - joka
      summary: 즐겨찾기 등록
      description: Media를 즐겨찾기에 등록합니다.
      operationId: addFavorite
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: mediaId
          in: path
          description: Media 식별자
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
    delete:
      tags:
        - joka
      summary: 즐겨찾기 해제
      description: Media를 즐겨찾기에서 해제합니다.
      operationId: removeFavorite
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/X-Album-Id'
        - name: mediaId
          in: path
          description: Media 식별자
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Error'
        '403':
          $ref: '#/components/responses/Error'
        '404':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  /albums:
    get:
      tags:
        - joka
      summary: Album 목록 조회
      description: Album의 목록을 조회합니다.
      operationId: listAlbums
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - name: size
          in: query
          description: 목록에 포함될 요소 개수
          schema:
            type: string
            minLength: 1
            default: '20'
        - name: order
          in: query
          description: 정렬 순서
          schema:
            type: string
            enum:
              - ASC
              - DESC
            minLength: 1
        - name: cursor
          in: query
          description: 커서
          schema:
            type: string
            minLength: 1
      responses:
        '200':
          $ref: '#/components/responses/ListAlbums'
        '401':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  /auth/login:
    post:
      tags:
        - joka
      summary: 로그인
      description: JOKA 애플리케이션에 로그인합니다.
      operationId: login
      requestBody:
        $ref: '#/components/requestBodies/Login'
      responses:
        '200':
          $ref: '#/components/responses/Login'
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  /auth/logout:
    post:
      tags:
        - joka
      summary: 로그아웃
      description: JOKA 애플리케이션으로부터 로그아웃합니다.
      operationId: logout
      parameters:
        - $ref: '#/components/parameters/Authorization'
      requestBody:
        $ref: '#/components/requestBodies/Logout'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/Error'
        '401':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
  /me:
    get:
      tags:
        - joka
      summary: '''나'' 상세 조회'
      description: 로그인한 사용자의 상세 정보를 조회합니다.
      operationId: getMyInfo
      parameters:
        - $ref: '#/components/parameters/Authorization'
      responses:
        '200':
          $ref: '#/components/responses/GetMe'
        '401':
          $ref: '#/components/responses/Error'
      servers:
        - url: 'http://mindjuk.dev/api/v1'
tags:
  - name: joka
    description: joka
components:
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: 인증 토큰
      required: true
      schema:
        type: string
    X-Album-Id:
      name: X-Album-Id
      in: header
      description: 현재 속한 Album의 식별자
      required: true
      schema:
        type: string
  requestBodies:
    CreateUserEvents:
      description: User Event 수집 요청
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              events:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    name:
                      type: string
                      description: 이벤트 이름
                      minLength: 1
                    timestamp:
                      type: integer
                      description: 이벤트 발생 시각(epoch millis)
                      format: int64
                    userRole:
                      $ref: '#/components/schemas/Role'
                  required:
                    - name
                    - timestamp
                    - userRole
            required:
              - events
    CreateMedia:
      description: Media 생성 요청
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              description:
                type: string
                description: 설명
                minLength: 1
            required:
              - description
    UpdateMedia:
      description: Media 수정 요청
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              description:
                type: string
                description: 설명
                minLength: 1
    CreateUploadUrlForMedia:
      description: Media 전용 업로드 URL 생성 요청
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
    CreateContent:
      description: Content 생성 요청
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              url:
                type: string
                description: URL 주소
                format: uri
                minLength: 1
            required:
              - url
    Login:
      description: 로그인
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
    Logout:
      description: 로그아웃
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
    ConfirmMedia:
      description: Media 확정 요청
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
  responses:
    CreateMedia:
      description: Media 생성 응답
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Media'
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/media/xxx
          description: Media 위치
    ListMedia:
      description: Media 목록 조회 응답
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              pagination:
                type: object
                description: 이번 조회에 적용된 페이지네이션과 관련된 정보
                additionalProperties: false
                properties:
                  size:
                    type: integer
                    description: 목록에 포함될 요소 개수
                    format: int32
                    minimum: 1
                    maximum: 50
                  sortBy:
                    type: string
                    enum:
                      - CREATED_AT
                    description: 정렬 기준
                  order:
                    type: string
                    enum:
                      - ASC
                      - DESC
                    description: 정렬 순서
                  nextCursor:
                    type: string
                    description: 커서
                    minLength: 1
                  hasNext:
                    type: boolean
                    description: 다음 페이지 존재 여부
                required:
                  - size
                  - sortBy
                  - order
                  - hasNext
            required:
              - items
              - pagination
    GetMedia:
      description: Media 상세 조회 응답
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Media'
    UpdateMedia:
      description: Media 수정 응답
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Media'
    CreateUploadUrlForMedia:
      description: Media 전용 업로드 URL 생성 응답
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              url:
                type: string
                description: URL 주소
                format: uri
                minLength: 1
            required:
              - url
    CreateContent:
      description: Content 생성 응답
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Content'
      headers:
        Location:
          schema:
            type: string
            example: /api/v1/media/xxx/contents/yyy
          description: Content 위치
    Login:
      description: 로그인 응답
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              accessToken:
                type: string
                description: 액세스 토큰
                minLength: 1
            required:
              - accessToken
      headers:
        Set-Cookie:
          schema:
            type: string
            minLength: 1
            example: refreshToken=xxx; HttpOnly; Secure; SameSite=Lax; Path=/; Max-Age=2592000
          description: 리프레쉬 토큰 정보
    ConfirmMedia:
      description: Media 확정 응답
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Media'
    GetMe:
      description: '''나'' 상세 조회 응답'
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              id:
                type: string
                description: 식별자
                minLength: 1
              name:
                type: string
                description: 이름
                minLength: 1
              email:
                type: string
                description: 이메일 주소
                format: email
                minLength: 1
            required:
              - id
              - name
              - email
    Error:
      description: 요청 처리 실패 응답
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ListAlbums:
      description: Album 목록 조회 응답
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/Album'
              pagination:
                type: object
                description: 이번 조회에 적용된 페이지네이션과 관련된 정보
                properties:
                  size:
                    type: integer
                    description: 목록에 포함될 요소 개수
                    format: int32
                  order:
                    type: string
                    enum:
                      - ASC
                      - DESC
                    description: 정렬 순서
                  nextCursor:
                    type: string
                    description: 커서
                  hasNext:
                    type: boolean
                    description: 다음 페이지 존재 여부
                required:
                  - size
                  - order
                  - hasNext
            required:
              - items
              - pagination
  schemas:
    Media:
      type: object
      title: Media
      description: Media와 관련된 정보
      additionalProperties: false
      properties:
        id:
          type: string
          description: 식별자
        description:
          type: string
          description: 설명
        state:
          $ref: '#/components/schemas/MediaState'
        content:
          $ref: '#/components/schemas/Content'
        isFavorite:
          type: boolean
          description: 즐겨찾기 등록 여부
        created:
          $ref: '#/components/schemas/Actioned'
      required:
        - id
        - description
        - state
        - isFavorite
        - created
    MediaState:
      type: string
      enum:
        - DRAFT
        - PREPARING
        - COMPLETE
      title: MediaState
      description: Media 상태 정보
    Content:
      type: object
      title: Content
      description: Content와 관련된 정보
      additionalProperties: false
      properties:
        location:
          $ref: '#/components/schemas/Location'
        size:
          type: integer
          description: 용량
          format: int64
          minimum: 1
        eTag:
          type: string
          description: 엔티티 태그
        mimeType:
          type: string
          description: 컨텐츠 타입
          example: image/png
        thumbnail:
          $ref: '#/components/schemas/Thumbnail'
      required:
        - location
        - size
        - eTag
        - mimeType
    Location:
      type: object
      title: Location
      description: Location과 관련된 정보
      additionalProperties: false
      properties:
        url:
          type: string
          description: URL 주소
          format: uri
          minLength: 1
        accessUrl:
          type: string
          description: 접근 가능한 URL 주소
          format: uri
          minLength: 1
      required:
        - url
        - accessUrl
    Thumbnail:
      type: object
      title: Thumbnail
      description: Thumbnail과 관련된 정보
      additionalProperties: false
      properties:
        location:
          $ref: '#/components/schemas/Location'
        size:
          type: integer
          description: 용량
          format: int64
          minimum: 1
        eTag:
          type: string
          description: 엔티티 태그
        mimeType:
          type: string
          description: 컨텐츠 타입
          example: image/jpeg
        blurhash:
          type: string
          description: blurhash 라이브러리용 해시값
          example: LEHV6nWB2yk8pyo0adR*.7kCMdnj
      required:
        - location
        - size
        - eTag
        - mimeType
        - blurhash
    Actioned:
      type: object
      title: Actioned
      description: 행위와 관련된 정보
      additionalProperties: false
      properties:
        at:
          type: string
          description: 발생 일시
          format: date-time
        by:
          $ref: '#/components/schemas/User'
      required:
        - at
        - by
    User:
      type: object
      title: User
      description: User와 관련된 정보
      additionalProperties: false
      properties:
        id:
          type: string
          description: 식별자
        name:
          type: string
          description: 이름
        email:
          type: string
          description: 이메일 주소
          format: email
      required:
        - id
        - name
        - email
    Role:
      type: string
      enum:
        - ADMIN
        - EDITOR
        - VIEWER
      title: Role
      description: Role 종류
    Error:
      type: object
      title: Error
      description: Error와 관련된 정보
      additionalProperties: false
      properties:
        traceId:
          type: string
          description: 트레이스
          format: uuid
        path:
          type: string
          description: API 경로
          example: /api/v1/media/xxx
        status:
          type: integer
          description: HTTP 상태 코드
          format: int32
          minimum: 400
          maximum: 599
          example: 404
        code:
          type: string
          description: 비즈니스 에러 코드
          example: MEDIA_NOT_FOUND
        messages:
          type: array
          description: 설명 문구
          items:
            type: string
            example: Media(xxx)가 존재하지 않습니다.
        timestamp:
          type: string
          description: 발생 시각
      required:
        - traceId
        - path
        - status
        - code
        - messages
        - timestamp
    Album:
      type: object
      title: Album
      description: Album과 관련된 정보
      properties:
        id:
          type: string
          description: 식별자
        name:
          type: string
          description: 이름
        role:
          $ref: '#/components/schemas/Role'
      required:
        - id
        - name
        - role
